.fade-appear {
  opacity: 0;
  transform: scale(0);
}

.fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 300ms ease-in-out, opacity 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-active-exit {
  opacity: 0;
  transform: scale(0);
  transition: transform 300ms ease-in-out, opacity 300ms;
}
